
<div class="card card-body newPostIcons">
  <img src="https://image.ibb.co/dszahH/text.png" alt="post text">
  <hr>
  <img src="https://image.ibb.co/fyWAGc/picture.png" alt="post picture">
  <hr>
  <img src="https://image.ibb.co/dBMcwc/quote.png" alt="post quote">
  <hr>
  <img src="https://image.ibb.co/c0Hjbc/link.png" alt="post link">
  <hr>
  <img src="https://image.ibb.co/e2BXUx/chat.png" alt="post chat">
  <hr>
  <img src="https://image.ibb.co/bRLgNH/audio.png" alt="post audio">
  <hr>
  <img src="https://image.ibb.co/injmpx/Layer_1.png" alt="post video">
</div>
