.navbar {
  height: 70px;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.13);
}

.bg-custom {
  background-color: #36465d;
}

img {
  max-height: 70px;
}

input {
  background-color: rgba(0, 0, 0, 0.13);
  border: none;
  height: 40px;
}

#home {
  height: 35px;
}
