p {
  margin-bottom: 0px;
}

hr {
  margin: .75em;
  min-width: 100%;
}

#source {
  color: rgb(143, 143, 143);
}

.card {
  margin-bottom: 20px;
  font-size: 1.15em;
}

.post {
  padding-left: 15px;
  padding-right: 15px;
}
