<div  *ngFor="let post of childPostList;">
  <div class="card card-body post">
    <p class="post"><b>{{post.followed}}</b></p>
    <div class="post" *ngIf="post.type === 'text'">
      <hr>
      {{post.content}}
    </div>
    <div class="post" *ngIf="post.type === 'video'" >
      <br>
      <iframe width="560" height="315" [src]="cleanURL(post.content)" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <br>
    <p class="post" id="source">Source: {{post.creator}}</p>
  </div>
</div>
